.c-alert {
  margin-top: $module * 4;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  display: flex;
  padding: $module * 2;
  max-width: none;
  background-color: rgba($nice-red, 0.2);
  color: $nice-red;
  font-size: $theme-font-size-smaller px;
  line-height: $module * 5;
  text-align: left;
  color: $base-text-color;
  border-radius: $module;

  &:first-letter {
    text-transform: uppercase;
  }
}