input.input {
    width: 444px;
    padding: 8px 10px;
}

.input {
    margin: 0 0 16px;
    width: 100%;
}

select.input {
    width: 444px;
    padding: 8px 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 466px;
}

label {
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    width: 100%;
    margin-top: 10px;
}

input[type="radio"] {
    margin-left:10px;
}

.radio-buttons {
    width: 100%;
}