.list-wrapper {
    margin: 8px auto;
    width: 100%;
}

.input {
    margin: 0 0 16px;
    width: 100%;
}

input.input {
    width: 444px;
    padding: 8px 10px;
}

.label {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    width: 100%;
}

input[type="radio"] {
    margin-left:10px;
}

.radio-buttons {
    width: 100%;
}

.radio-buttons-vertical {
    display: flex;
    flex-direction: column;
}

.output-column-name {
    width: 30%;
    flex-grow: 0;
}

.output-column-source {
    flex-grow: 1;
}
